# Entorno virtual

.venv/

# Variables de entorno y secretos

.env
.env.*
!.env.example

# Caché de Python

**pycache**/
*.py[cod]
*$py.class

# Bases de datos locales

*.db
*.sqlite
*.sqlite3

# Archivos temporales

*.tmp
*.temp

# IDEs

.vscode/
.idea/

# Sistema operativo

.DS_Store
Thumbs.db

*.pdf